{% extends 'basetemplate.html' %}
{% load static %}
{% block description %}description{% endblock %}
{% block robots%}robots{%endblock%}
{% block keywords%}keywords{%endblock%}
{% block css %}{% static 'products/style.css' %}{% endblock %}

{%block title%}MyShop | Home{%endblock%}

{%block body%}

{% include 'includes/nav.html' %}

<!-- ***************** main content ***************** -->
<section id="intro">
    <div style="width: 50%;">
        <h1>Best Clothing Quality</h1>   
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis porro quam fugiat accusantium ab velit tenetur perspiciatis autem, ipsa obcaecati at blanditiis? Unde, consectetur itaque nemo modi consequuntur obcaecati accusantium?</p>
        <a onclick="hideNav()">Become a member</a>
    </div>

    <video controls>
        <source src="{%static 'products/intro-video.mp4'%}">
    </video>
</section>


<!-- ***************** Category ***************** 
<nav id="nav-cat">
    <a>Suit</a>
    <a>Shirt</a>
    <a>Dress</a>
    <a>Shoes</a>
</nav>
-->

<!-- ***************** Product card ***************** -->
<div class="product-nav">
    <h3>Suits</h3>
    <a href="{% url "product" "heloo" %}">View all suits</a>
</div>

<main id="products-intro">
    {% for i in context %}
    {% comment %} for printing limited property {% endcomment %}
    {% if forloop.counter <= 5 %}
    {% endif %}
    <div class="product-card">
        <div class="review-con"><p>Reviews 4.8⭐</p></div>
        <img src="{{media_root}}{{i.image.url}}" class="product-img" style="height: 74%;
        width: 100%;">
        <div style="padding:20px 25px">
            <h3>{{i.name}}</h3>
            <p></p>
            <a href="">View Product</a>
        </div>
    </div>
    {% endfor %}

</main>


<!-- ***************** Footer ***************** -->
<div class="container my-5">

    <footer class=" text-center text-lg-start text-white " style="height: max-content; background:#464EAA;">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row my-4">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
  
            <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px;">
              <img src="https://mdbootstrap.com/img/Photos/new-templates/animal-shelter/logo.png" height="70" alt=""
                   loading="lazy" />
            </div>
  
            <p class="text-center">Homless animal shelter The budgetary unit of the Capital City of Warsaw</p>
  
            <ul class="list-unstyled d-flex flex-row justify-content-center">
              <li>
                <a class="text-white px-2" href="#!">
                  <i class="fab fa-facebook-square"></i>
                </a>
              </li>
              <li>
                <a class="text-white px-2" href="#!">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li>
                <a class="text-white ps-2" href="#!">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
            </ul>
  
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Animals</h5>
  
            <ul class="list-unstyled">
              <li class="mb-2">
                <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>When your pet is missing</a>
              </li>
              <li class="mb-2">
                <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Recently found</a>
              </li>
              <li class="mb-2">
                <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>How to adopt?</a>
              </li>
              <li class="mb-2">
                <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Pets for adoption</a>
              </li>
              <li class="mb-2">
                <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Material gifts</a>
              </li>
              <li class="mb-2">
                <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Help with walks</a>
              </li>
              <li class="mb-2">
                <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Volunteer activities</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Get Know Us</h5>
  
            <ul class="list-unstyled">
              <li class="mb-2">
                <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>General information</a>
              </li>
              <li class="mb-2">
                <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>About the shelter</a>
              </li>
              <li class="mb-2">
                <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Statistic data</a>
              </li>
              <li class="mb-2">
                <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Job</a>
              </li>
              <li class="mb-2">
                <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Tenders</a>
              </li>
              <li class="mb-2">
                <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Contact</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Contact</h5>
  
            <ul class="list-unstyled">
              <li>
                <p><i class="fas fa-map-marker-alt pe-2"></i>Bhavnagar, Gujarat - India</p>                
              </li>
              <li>
                <p><i class="fas fa-phone pe-2"></i>+ 91 635 632 6472</p>
              </li>
              <li>
                <p><i class="fas fa-envelope pe-2 mb-0"></i>udittparmar@gmail.com</p>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-white" href="https://MyShop.com/">MyShop.com</a>
      </div>
      <!-- Copyright -->
    </footer>
  
  </div>
  <!-- End of .container -->
{%endblock%}